apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    # The selector must match the active color deployment
    # We'll default to 'blue' for the first rollout
    app: frontend
    color: blue
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
  type: LoadBalancer
